[user]
	email = caleb.john.larsen@gmail.com
	name = Caleb Larsen
[pull]
	rebase = true
[merge]
	conflictstyle = diff3
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[commit]
	verbose = true
[rerere]
	enabled = true
[help]
	autocorrect = 10
[core]
	editor = hx
[diff]
	algorithm = histogram
[url "git@github.com:"]
	insteadOf = "https://github.com/"
[transfer]
	fsckObjects = true
[fetch]
	fsckObjects = true
[receive]
	fsckObjects = true
[branch]
	sort = -committerdate
[interactive]
	diffFilter = delta --color-only
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[delta]
	navigate = true
	line-numbers = true
	syntax-theme = OneHalfDark
	side-by-side = true
